<configuration debug="true">

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>service-template.log</file>-->

        <!--<encoder>-->
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- comment out this appender and logger for db log outputing -->
    <!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
        <!--<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">-->
            <!--<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
                <!--<driverClass>com.mysql.jdbc.Driver</driverClass>-->
                <!--<jdbcUrl>jdbc:mysql://localhost:3306/biz_log</jdbcUrl>-->
                <!--<user>root</user>-->
                <!--<password></password>-->
            <!--</dataSource>-->
        <!--</connectionSource>-->
    <!--</appender>-->

    <!--<logger name="biz" level="INFO" additivity="false">-->
        <!--<appender-ref ref="DB"/>-->
    <!--</logger>-->

    <root level="INFO">
<!--        <appender-ref ref="FILE" />  -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
